<h1>Queries</h1>
<%= form_tag('/queries', :method => 'get') do %>
	<p>
		Display the top <%= text_field_tag :teams_amt %> teams 
		based on <%= select_tag(:stat_options, options_for_select([['Goehlert Score', 'goehlert_score']])) %> 
		for years <%= select_year 2005, :start_year => 2005, :end_year => 2011 %>
		through <%= select_year Date.today, :start_year => 2005, :end_year => 2011 %>
	</p>
	<div class="actions">
		<%= submit_tag "Submit" %>
	</div>
<% end %>

<!--
<div id="results">
	<% if !@result.nil? %>
		<p><%= @result %></p>
	<% end %>
</div>-->

<div class="top_ten goehlert">
	<% if !@top_goehlert_2011.nil? and @top_goehlert_2011.count >= 10 %>
	<h3>Top Ten Goehlert Score MLB Teams 2011</h3>
	<table>
		<tr>
			<th>Team</th>
			<th>Goehlert Score</th>
		</tr>
		<% @top_goehlert_2011.each do |team| %>
			<tr>
				<td><%= cap_first(team.location) %> <%= cap_first(team.name) %></td>
				<td><%= team.stats.goehlert_score %></td>
			</tr>
		<% end %>
	</table>
	<% end %>
</div>

<%= debug @request %>