<h1>Stats: Compiled <%= link_to "Raw", "/stats/raw", { :class => "stat-select" } %></h1>
<div class="query">
	<%= form_tag('/stats', :method => 'get') do %>
		<p>
			Display the top <%= text_field_tag :result_count, params[:result_count], :class => "short" %> teams
			based on
			<%=
			select_tag(:measured_stat, options_for_select(
			[
				['Goehlert Score', 'g_score'],
				['Average Goehlert Score', 'avg_g_score'],
				['Regular Season Win %', 'reg_season_rec'],
				['Wins', 'wins'],
				['Losses', 'losses'],
				['Championships', 'champ'],
				['League Championships', 'league_champ'],
				['Division Championships', 'div_champ'],
				['Wildcard', 'wildcard']
			], params[:measured_stat]))
			%>
			for years <%= select_tag(:start_year, options_for_select((Stat.years).reverse_each, params[:start_year].to_s)) %>
			through <%= select_tag(:end_year, options_for_select((Stat.years).reverse_each, params[:end_year].to_s)) %>
		</p>
    <div class="league-filter">
      <h3>Leagues:</h3>
      <ul>
        <% Team.leagues.each do |league_name| %>
          <li>
            <%= check_box :league, league_name, checked: true %>
            <%= label :league, league_name, league_name.upcase %>
          </li>
        <% end %>
      </ul>
    </div>
		<div class="actions">
			<%= submit_tag "Submit" %>
		</div>
	<% end %>
</div>

<div class="results">
	<h2>Results</h2>
	<% if response_success? %>
		<% if result_count? %>
			<table>
				<tr class="header">
					<th>Team</th>
					<th>League</th>
					<th>Goehlert<br/>Score</th>
					<th>Avg<br/>Goehlert<br/>Score</th>
					<th>Reg<br/>Season<br/>Win %</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Ties</th>
					<th>OTL</th>
					<th>Champ</th>
					<th>League<br/>Champ</th>
					<th>Playoff<br/>App</th>
					<th>Div<br/>Champ</th>
					<th>Wildcard</th>
				</tr>
				<% @compiled_results.each do |result| %>
					<tr>
						<td><%= link_to cap_first(result[:name]), '/teams/' + result[:id].to_s %></td>
						<td><%= result[:league].upcase! %></td>
						<td><%= format_decimal(result[:g_score], 2) %></td>
						<td><%= format_decimal(result[:avg_g_score], 3) %></td>
						<td><%= format_decimal(result[:reg_season_rec], 3, false) %></td>
						<td><%= result[:wins] %></td>
						<td><%= result[:losses] %></td>
						<td><%= result[:ties] %></td>
						<td><%= result[:overtime_losses] %></td>
						<td><%= result[:champ] %></td>
						<td><%= result[:league_champ] %></td>
						<td><%= result[:playoff_app] %></td>
						<td><%= result[:div_champ] %></td>
						<td><%= result[:wildcard] %></td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<p>No results.</p>
		<% end %>
	<% else %>
		<p class="error">Error! Response status: <%= response.status %></p>
	<% end %>
</div>

<div id="debug">
	<%=  %>
</div>
