<h1>Stats: Compiled</h1>
<div class="query">
	<%= form_tag('/stats', :method => 'get') do %>
		<p>
			Display the top <%= text_field_tag :result_count, params[:result_count], :class => "short" %> teams 
			based on 
			<%= 
			select_tag(:measured_stat, options_for_select(
			[
				['Goehlert Score', 'g_score'], 
				['Average Goehlert Score', 'avg_g_score'],
				['Regular Season Record', 'reg_season_rec'],
				['Wins', 'wins'],
				['Losses', 'losses'],
				['Championships', 'champ'],
				['League Championships', 'league_champ'],
				['Division Championships', 'div_champ'],
				['Wildcard', 'wildcard']
			], params[:measured_stat])) 
			%> 
			for years <%= select_tag(:start_year, options_for_select((1871..2011).reverse_each, params[:start_year].to_s)) %>
			through <%= select_tag(:end_year, options_for_select((1871..2011).reverse_each, params[:end_year].to_s)) %>
		</p>
		<div class="actions">
			<%= submit_tag "Submit" %>
		</div>
	<% end %>
</div>

<div class="results">
	<h2>Results</h2>
	<% if response_success? %>
		<% if result_count? %>
			<table>
				<tr class="header">
					<th>Team</th>
					<th>Goehlert<br/>Score</th>
					<th>Avg<br/>Goehlert<br/>Score</th>
					<th>Win %</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Champ</th>
					<th>League<br/>Champ</th>
					<th>Playoff<br/>App</th>
					<th>Div<br/>Champ</th>
					<th>WC</th>
				</tr>
				<% @compiled_results.each do |result| %>
					<tr>
						<td>
							<%= cap_first(result[:name]) %>
							(<%= result[:abbr] %>)
						</td>
						<td><%= format_decimal(result[:g_score], 2) %></td>
						<td><%= average_goehlert_score(result[:g_score]) %></td>
						<td><%= format_decimal(result[:reg_season_rec], 3, false) %></td>
						<td><%= result[:wins] %></td>
						<td><%= result[:losses] %></td>
						<td><%= result[:champ] %></td>
						<td><%= result[:league_champ] %></td>
						<td><%= result[:playoff_app] %></td>
						<td><%= result[:div_champ] %></td>
						<td><%= result[:wildcard] %></td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<p>No results.</p>
		<% end %>
	<% else %>
		<p class="error">Error! Response status: <%= response.status %></p>
	<% end %>
</div>

<div id="debug">
	<%=  %>
</div>