<h1>Stats</h1>
<div class="query">
	<%= form_tag('/stats', :method => 'get') do %>
		<p>
			Display the top <%= text_field_tag :result_count, params[:result_count] %> teams 
			based on 
			<%= 
			select_tag(:measured_stat, options_for_select(
			[
				['Goehlert Score', 'goehlert_score'], 
				['Reg Season Win', 'reg_season_win'],
				['Playoff Win', 'playoff_win']
			], params[:measured_stat])) 
			%> 
			for years <%= select_tag(:start_year, options_for_select((2005..2011), params[:start_year].to_s)) %>
			through <%= select_tag(:end_year, options_for_select((2005..2011), params[:end_year].to_s)) %>
		</p>
		<div class="actions">
			<%= submit_tag "Submit" %>
		</div>
	<% end %>
</div>

<div class="results">
	<h2>Results</h2>
	<% if response_success? %>
		<% if @results.count > 0 %>
			<table>
				<tr>
					<th>Team</th>
					<th>Year</th>
					<% displayed_stats.each do |stat_name| %>
						<th><%= cap_first(stat_name.humanize) %></th>
					<% end %>					
				</tr>
				<tr>
					<% @results.each do |result| %>
					<tr>
						<td>
							<%= cap_first(Team.find(result.team_id).name) %>
							(<%= Team.find(result.team_id).abbr %>)
						</td>
						<td><%= result.year %></td>
						<td><%= result.goehlert_score %></td>
						<td><%= result.reg_season_win %></td>
						<td><%= result.playoff_win %></td>
					</tr>
					<% end %>
				</tr>
			</table>
		<% else %>
			<p>No results.</p>
		<% end %>
	<% else %>
		<p class="error">Error! Response status: <%= response.status %></p>
	<% end %>
</div>

<div id="debug">
	request.path_parameters
	<%= debug request.path_parameters %>
	<br/>
	request.query_parameters
	<%= debug request.query_parameters %>
	<br/>
	request.request_parameters
	<%= debug request.request_parameters %>
	<br/>
	response.body
	<%= debug response.body %>
	<br/>
	@results
	<%= debug @results %>
</div>

<!--
<div class="top_ten goehlert">
	<% if !@top_goehlert_2011.nil? %>
	<h3>Top Goehlert Score MLB Teams 2011</h3>
	<table>
		<tr>
			<th>Team</th>
			<th>Goehlert Score</th>
		</tr>
		<% @top_goehlert_2011.each do |stat| %>
			<tr>
				<td><%= cap_first(stat.team.location) %> <%= cap_first(stat.team.name) %></td>
				<td><%= stat.goehlert_score %></td>
			</tr>
		<% end %>
	</table>
	<% end %>
</div>-->
