<h1>Stats: <%= link_to "Compiled", stats_path, { :class => "stat-select" } %> Raw</h1>
<div class="query">
	<%= form_tag('/stats/raw', :method => 'get') do %>
		<p>
			Display the top <%= text_field_tag :result_count, params[:result_count], :class => "short" %> teams
			based on
			<%=
			select_tag(:measured_stat, options_for_select(
			[
				['Goehlert Score', 'g_score'],
				['Regular Season Win %', 'reg_season_rec'],
				['Wins', 'wins'],
				['Losses', 'losses'],
				['Championships', 'champ'],
				['League Championships', 'league_champ'],
				['Division Championships', 'div_champ'],
				['Wildcard', 'wildcard']
			], params[:measured_stat]))
			%>
			for years <%= select_tag(:start_year, options_for_select((Stat.years).reverse_each, params[:start_year].to_s)) %>
			through <%= select_tag(:end_year, options_for_select((Stat.years).reverse_each, params[:end_year].to_s)) %>
		</p>
		<div class="actions">
			<%= submit_tag "Submit" %>
		</div>
	<% end %>
</div>

<div class="results">
	<h2>Results</h2>
	<% if response_success? %>
		<% if result_count? %>
			<table>
				<tr class="header">
					<th>Team</th>
					<th>League</th>
					<th>Year</th>
					<th>Goehlert<br/>Score</th>
					<th>Reg<br/>Season<br/>Win %</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Champ</th>
					<th>League<br/>Champ</th>
					<th>Playoff<br/>App</th>
					<th>Div<br/>Champ</th>
					<th>Wildcard</th>
				</tr>
				<tr>
					<% @raw_results.each do |result| %>
					<tr>
						<td><%= link_to cap_first(Team.find(result.team_id).name), '/teams/' + result.team_id.to_s %></td>
						<td><%= Team.find(result.team_id).league.upcase! %></td>
						<td><%= result.year %></td>
						<td><%= format_decimal(result.g_score, 2) %></td>
						<td><%= format_decimal(result.reg_season_rec, 3, false) %></td>
						<td><%= result.wins %></td>
						<td><%= result.losses %></td>
						<td><%= result.champ %></td>
						<td><%= result.league_champ %></td>
						<td><%= result.playoff_app %></td>
						<td><%= result.div_champ %></td>
						<td><%= result.wildcard %></td>
					</tr>
					<% end %>
				</tr>
			</table>
		<% else %>
			<p>No results.</p>
		<% end %>
	<% else %>
		<p class="error">Error! Response status: <%= response.status %></p>
	<% end %>
</div>

<div id="debug">
</div>
